body{
    /* font-family: Brushstroke, fantasy; */
}
/* .IMDb_Header_Page{width:100%; height:auto;} */
.container{width:80%;margin:auto; padding:30px; border:0px solid black;}
.show{display:flex}
.hr{margin-top:30px; border-color:#aaa; visibility:hidden}
.img-div{padding:10px; }
.details-div{padding:20px;}